.slats-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;

  .slat {
    background: #fff;
    border: 1px solid var(--color-gray-200);
    border-radius: 4px;
    box-shadow: var(--shadow-elevation-low);
    display: flex;
    overflow: hidden;
  }

  .slat--icon {
    align-items: center;
    background: var(--color-gray-100);
    border-right: 1px solid var(--color-gray-200);
    color: var(--color-gray-400);
    display: flex;
    justify-content: center;
    padding: 0 0.75em;

    svg {
      display: block;
      height: 24px;
      width: 24px;
    }
  }

  .slat--details {
    flex-grow: 1;
    padding: 0.75em 1em;
  }
}

.slat--title {
  color: var(--color-gray-700);
  font-size: 18px;
  font-weight: 600;
}
