@use "src/global/styles/breakpoints" as *;

nav {
  align-items: flex-end;
  border: 1px solid var(--color-gray-200);
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-low);
  display: flex;
  flex-direction: row;
  gap: 2em;
  height: auto;
  justify-content: center;
  padding: 0;
  width: 100%;
  
  @include breakpoints(from-md) {
    align-items: stretch;
    flex: 0 1 auto;
    flex-direction: column;
    gap: 0;
    height: auto;
    justify-content: flex-start;
    padding: 0;
    width: auto;
  }

  a {
    align-items: center;
    color: var(--color-gray-500);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.25em;
    padding: 1em;
    position: relative;
    text-decoration: none;

    &::before {
      background: var(--color-brand);
      border-radius: 4px 4px 0 0;
      bottom: 0;
      content: '';
      display: none;
      height: 3px;
      left: 0.5em;
      position: absolute;
      width: calc(100% - 1em);
    }

    @include breakpoints(from-md) {
      align-items: center;
      border-bottom: 1px solid var(--color-gray-200);
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: 400;
      gap: 0.5em;
      padding: 1em 2em 1em 1.5em;
      
      &::before {
        border-radius: 0 4px 4px 0;
        height: 100%;
        left: 0;
        top: 0;
        width: 4px;
      }

      &:first-child::before {
        border-top-left-radius: 3px;
      }

      &:hover {
        color: var(--color-gray-700); 
      }
    } 

    svg {
      height: 28px;
      width: 28px;

      @include breakpoints(from-md) {
        height: 22px;
        width: 22px;
      }
    }

    &.active {
      color: var(--color-brand);

      &::before {
        display: block;
      }

      @include breakpoints(from-md) {
        background: var(--color-blue-50);
      }
    }
  }
}