@use "src/global/styles/breakpoints" as *;

.card-form--row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;

  @include breakpoints(from-sm) {
    align-items: center;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
  }

  @include breakpoints(from-md) {
    gap: 2em;
  }
}

.card-type {
  margin: 1em 0;

  p {
    color: var(--color-gray-600);
    margin-bottom: 0.5em;
  }

  .card-type--options {
    display: flex;

    div {
      background: var(--color-gray-200);
      color: var(--color-gray-500);
      cursor: pointer;
      padding: 0.5em 0.75em;

      &:first-child {
        border-radius: 8px 0 0 8px;
      }

      &:last-child {
        border-radius: 0 8px 8px 0;
      }

      &.selected {
        background: var(--color-green-600);
        color: #fff;
      }
    }
  }
}

.cards-list {
  border-top: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  padding: 1em 0;

  .card {
    background: #fff;
    border: 1px solid var(--color-gray-200);
    border-radius: 4px;
    box-shadow: var(--shadow-elevation-low);
    display: flex;
    overflow: hidden;
  }

  .card--icon {
    align-items: center;
    background: var(--color-gray-100);
    border-right: 1px solid var(--color-gray-200);
    color: var(--color-gray-400);
    display: flex;
    justify-content: center;
    padding: 0 0.75em;
    
    svg {
      display: block;
      height: 24px;
      width: 24px;
    }
  }

  .card--details {
    padding: 0.75em 1em;
  }

  .card--number {
    color: var(--color-gray-700);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .card--cvc {
    color: var(--color-gray-400);
    font-size: 14px;
  }

  .card--expiration {
    color: var(--color-gray-400);
    font-size: 14px;
    margin-left: 0.5em;
  }
}